**INSTALLING PYMONGO**

In [1]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.6.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (677 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 677.1/677.1 kB 5.8 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.4/300.4 kB 22.3 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.6.1

**IMPORTING ALL NECESSARY LIBRARIES**

In [2]:
import pandas as pd
import numpy as np
import statistics as st
import matplotlib.pyplot as plt
import seaborn as sns
from pymongo import MongoClient

**RETRIEVING DATA FROM MONGODB ATLAS**

In [3]:
connection_string = "mongodb+srv://soniyasurendhar:1234@cluster0.psa1gyo.mongodb.net/?retryWrites=true&w=majority"

In [4]:
client = MongoClient(connection_string)
db = client.sample_airbnb
collection = db.listingsAndReviews

In [5]:
data = []
for i in collection.find():
  data.append(i)

In [6]:
airbnb = pd.DataFrame(data)

In [7]:
airbnb.to_csv('airbnb.csv',index=False)

In [8]:
airbnb_1 = pd.read_csv("airbnb.csv")

In [9]:
airbnb_1

,_id,listing_url,name,summary,space,description,neighborhood_overview,notes,transit,access,...,guests_included,images,host,address,availability,review_scores,reviews,weekly_price,monthly_price,reviews_per_month
0,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,Fantastic duplex apartment with three bedrooms...,Privileged views of the Douro River and Ribeir...,Fantastic duplex apartment with three bedrooms...,"In the neighborhood of the river, you can find...",Lose yourself in the narrow streets and stairc...,Transport: • Metro station and S. Bento railwa...,We are always available to help guests. The ho...,...,6,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51399391', 'host_url': 'https://w...","{'street': 'Porto, Porto, Portugal', 'suburb':...","{'availability_30': 28, 'availability_60': 47,...","{'review_scores_accuracy': 9, 'review_scores_c...","[{'_id': '58663741', 'date': datetime.datetime...",NaN,NaN,NaN
1,10038496,https://www.airbnb.com/rooms/10038496,Copacabana Apartment Posto 6,"The Apartment has a living room, toilet, bedro...","The apartment has a living room, wash room, su...","The Apartment has a living room, toilet, bedro...",Copacabana in the South zone is the district t...,NaN,On the street there is plenty of transport and...,todo o espaço.,...,3,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51530266', 'host_url': 'https://w...","{'street': 'Rio de Janeiro, Rio de Janeiro, Br...","{'availability_30': 7, 'availability_60': 19, ...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '60037020', 'date': datetime.datetime...",NaN,NaN,NaN
2,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,NaN,"Murphy bed, optional second bedroom available....","Murphy bed, optional second bedroom available....",Great neighborhood - many terrific restaurants...,"My cat, Samantha, are in and out during the su...","Conveniently located near 1, 2, 3, B & C subwa...",New York City!,...,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '454250', 'host_url': 'https://www...","{'street': 'New York, NY, United States', 'sub...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '4351675', 'date': datetime.datetime(...",NaN,NaN,NaN
3,10083468,https://www.airbnb.com/rooms/10083468,Be Happy in Porto,Be Happy Apartment is an amazing space. Renova...,Be Happy Apartment is housed in a typical Port...,Be Happy Apartment is an amazing space. Renova...,"""Be happy in Porto"" offers a quality accommod...",NaN,When you arrive at Airport Francisco Sá Carnei...,My guests have acess to all apartment.,...,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '27518920', 'host_url': 'https://w...","{'street': 'Porto, Porto, Portugal', 'suburb':...","{'availability_30': 16, 'availability_60': 40,...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '58433009', 'date': datetime.datetime...",NaN,NaN,NaN
4,10009999,https://www.airbnb.com/rooms/10009999,Horto flat with small garden,One bedroom + sofa-bed in quiet and bucolic ne...,Lovely one bedroom + sofa-bed in the living ro...,One bedroom + sofa-bed in quiet and bucolic ne...,This charming ground floor flat is located in ...,"There´s a table in the living room now, that d...","Easy access to transport (bus, taxi, car) and ...",NaN,...,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '1282196', 'host_url': 'https://ww...","{'street': 'Rio de Janeiro, Rio de Janeiro, Br...","{'availability_30': 0, 'availability_60': 0, '...",{},[],1492.0,4849.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9846545,https://www.airbnb.com/rooms/9846545,Cozy Private Room near Olympic MTR (A),We now have this decent room with a double bed...,Fully furnished: a double bed and a wardrobe. ...,We now have this decent room with a double bed...,Incredibly affordable laundry shops & restaura...,Minimum Stay: 28 nights - afterwards pro-rated...,At least half the cost of what you'd pay for f...,"Guests have access to everything (wifi, A/C co...",...,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '23134064', 'host_url': 'https://w...","{'street': 'Hong Kong, Kowloon, Hong Kong', 's...","{'availability_30': 6, 'availability_60': 36, ...",{},[],NaN,NaN,NaN
5551,9848595,https://www.airbnb.com/rooms/9848595,Perfect 2 bed in fabulous Fairlight,Our beautiful 2 bedroom apartment is perfectly...,Our beautiful 1st floor 2 bedroom apartment is...,Our beautiful 2 bedroom apartment is perfectly...,Close to Manly yet peaceful and beautiful neig...,Fairlight is located up a relatively steep hil...,2min walk to local Fairlight coffee and shops ...,You have the entire apartment to yourselves,...,4,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '13511304', 'host_url': 'https://w...","{'street': 'Fairlight, NSW, Australia', 'subur...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 9, 'review_scores_c...","[{'_id': '71547066', 'date': datetime.datetime...",NaN,NaN,NaN
5552,9936016,https://www.airbnb.com/rooms/9936016,Alugo Apartamento na Tijuca,Apartamento amplo que acomoda 6 pessoas. Um qu...,NaN,Apartamento amplo que acomoda 6 pessoas. Um qu...,NaN,NaN,NaN,NaN,...,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '47092481', 'host_url': 'https://w...","{'street': 'Rio de Janeiro, Rio de Janeiro, Br...","{'availability_30': 0, 'availability_60': 0, '...",{},[],NaN,NaN,NaN
5553,9908871,https://www.airbnb.com/rooms/9908871,Family friendly beach house,"Only 400 metres to the beach,2 x carparks,clos...",NaN,"Only 400 metres to the beach,2 x carparks,clos...",NaN,NaN,NaN,NaN,...,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '20914019', 'host_url': 'https://w...","{'street': 'North Bondi, NSW, Australia', 'sub...","{'availability_30': 0, 'availability_60': 0, '...",{},[],NaN,NaN,NaN
5554,9981541,https://www.airbnb.com/rooms/9981541,Economy 2-beds room (308),"A simple room equipped with a bunk bed, a shor...",NaN,"A simple room equipped with a bunk bed, a shor...",NaN,NaN,NaN,NaN,...,2,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51289938', 'host_url': 'https://w...","{'street': 'Hong Kong, Kowloon, Hong Kong', 's...","{'availability_30': 30, 'availability_60': 60,...","{'review_scores_accuracy': 8, 'review_scores_c...","[{'_id': '56898310', 'date': datetime.datetime...",NaN,NaN,NaN

In [10]:
airbnb_1.shape

(5555, 42)

In [11]:
airbnb_1.columns

Index(['_id', 'listing_url', 'name', 'summary', 'space', 'description',
       'neighborhood_overview', 'notes', 'transit', 'access', 'interaction',
       'house_rules', 'property_type', 'room_type', 'bed_type',
       'minimum_nights', 'maximum_nights', 'cancellation_policy',
       'last_scraped', 'calendar_last_scraped', 'first_review', 'last_review',
       'accommodates', 'bedrooms', 'beds', 'number_of_reviews', 'bathrooms',
       'amenities', 'price', 'security_deposit', 'cleaning_fee',
       'extra_people', 'guests_included', 'images', 'host', 'address',
       'availability', 'review_scores', 'reviews', 'weekly_price',
       'monthly_price', 'reviews_per_month'],
      dtype='object')

**CHECKING AND HANDLING MISSING VALUES**

In [12]:
airbnb_1.isnull().sum()

_id                         0
listing_url                 0
name                        8
summary                   258
space                    1626
description                95
neighborhood_overview    2241
notes                    3081
transit                  2232
access                   2453
interaction              2478
house_rules              2285
property_type               0
room_type                   0
bed_type                    0
minimum_nights              0
maximum_nights              0
cancellation_policy         0
last_scraped                0
calendar_last_scraped       0
first_review             1388
last_review              1388
accommodates                0
bedrooms                    5
beds                       13
number_of_reviews           0
bathrooms                  10
amenities                   0
price                       0
security_deposit         2084
cleaning_fee             1531
extra_people                0
guests_included             0
images                      0
host                        0
address                     0
availability                0
review_scores               0
reviews                     0
weekly_price             4841
monthly_price            4899
reviews_per_month        5461
dtype: int64

In [13]:
#looking for the percentage of missing values
pd.DataFrame(airbnb_1.isna().mean()*100).T

,_id,listing_url,name,summary,space,description,neighborhood_overview,notes,transit,access,...,guests_included,images,host,address,availability,review_scores,reviews,weekly_price,monthly_price,reviews_per_month
0,0.0,0.0,0.144014,4.644464,29.270927,1.710171,40.342034,55.463546,40.180018,44.158416,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,87.146715,88.190819,98.307831

In [14]:
#dropping the columns  missing values
airbnb_1.drop(columns=['neighborhood_overview','notes','transit','access','interaction','house_rules','first_review','last_review','weekly_price','monthly_price','reviews_per_month'],inplace = True)

In [15]:
#imputing median value for the column"bedrooms","beds","bathrooms","security_deposit","cleaning_fee" because it has outliers
airbnb_1['bedrooms'].fillna(airbnb_1['bedrooms'].median(),inplace = True)
airbnb_1['beds'].fillna(airbnb_1['beds'].median(),inplace = True)
airbnb_1['bathrooms'].fillna(airbnb_1['bathrooms'].median(),inplace = True)
airbnb_1['security_deposit'].fillna(airbnb_1['security_deposit'].median(),inplace = True)
airbnb_1['cleaning_fee'].fillna(airbnb_1['cleaning_fee'].median(),inplace = True)

In [16]:
airbnb_1 = airbnb_1.dropna()

In [17]:
airbnb_1.shape

(3777, 31)

In [18]:
airbnb_1.isnull().sum()

_id                      0
listing_url              0
name                     0
summary                  0
space                    0
description              0
property_type            0
room_type                0
bed_type                 0
minimum_nights           0
maximum_nights           0
cancellation_policy      0
last_scraped             0
calendar_last_scraped    0
accommodates             0
bedrooms                 0
beds                     0
number_of_reviews        0
bathrooms                0
amenities                0
price                    0
security_deposit         0
cleaning_fee             0
extra_people             0
guests_included          0
images                   0
host                     0
address                  0
availability             0
review_scores            0
reviews                  0
dtype: int64

 **DATATYPE CORRECTION**

In [19]:
airbnb_1.dtypes

_id                        int64
listing_url               object
name                      object
summary                   object
space                     object
description               object
property_type             object
room_type                 object
bed_type                  object
minimum_nights             int64
maximum_nights             int64
cancellation_policy       object
last_scraped              object
calendar_last_scraped     object
accommodates               int64
bedrooms                 float64
beds                     float64
number_of_reviews          int64
bathrooms                float64
amenities                 object
price                    float64
security_deposit         float64
cleaning_fee             float64
extra_people             float64
guests_included            int64
images                    object
host                      object
address                   object
availability              object
review_scores             object
reviews                   object
dtype: object

In [20]:
#converting the datatype into right format
airbnb_1['bedrooms'] = airbnb_1['bedrooms'].astype(int)
airbnb_1['beds'] = airbnb_1['beds'].astype(int)
airbnb_1['bathrooms'] = airbnb_1['bathrooms'].astype(int)
airbnb_1['extra_people'] = airbnb_1['extra_people'].astype(int)
airbnb_1['price'] = airbnb_1['price'].astype(int)
airbnb_1['cleaning_fee'] = airbnb_1['cleaning_fee'].astype(int)
airbnb_1['security_deposit'] = airbnb_1['security_deposit'].astype(int)

<ipython-input-20-7165f74d14a3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb_1['bedrooms'] = airbnb_1['bedrooms'].astype(int)
<ipython-input-20-7165f74d14a3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb_1['beds'] = airbnb_1['beds'].astype(int)
<ipython-input-20-7165f74d14a3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb_1['bathrooms'] = airbnb_1['bathrooms'].astype(int)
<ipython-input-20-7165f74d14a3>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb_1['extra_people'] = airbnb_1['extra_people'].astype(int)
<ipython-input-20-7165f74d14a3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb_1['price'] = airbnb_1['price'].astype(int)
<ipython-input-20-7165f74d14a3>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb_1['cleaning_fee'] = airbnb_1['cleaning_fee'].astype(int)
<ipython-input-20-7165f74d14a3>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb_1['security_deposit'] = airbnb_1['security_deposit'].astype(int)

In [21]:
airbnb_1.dtypes

_id                       int64
listing_url              object
name                     object
summary                  object
space                    object
description              object
property_type            object
room_type                object
bed_type                 object
minimum_nights            int64
maximum_nights            int64
cancellation_policy      object
last_scraped             object
calendar_last_scraped    object
accommodates              int64
bedrooms                  int64
beds                      int64
number_of_reviews         int64
bathrooms                 int64
amenities                object
price                     int64
security_deposit          int64
cleaning_fee              int64
extra_people              int64
guests_included           int64
images                   object
host                     object
address                  object
availability             object
review_scores            object
reviews                  object
dtype: object

In [22]:
int_data_cols = [i for i in airbnb_1.columns if airbnb_1[i].dtypes == "int64"]
int_data_cols

['_id',
 'minimum_nights',
 'maximum_nights',
 'accommodates',
 'bedrooms',
 'beds',
 'number_of_reviews',
 'bathrooms',
 'price',
 'security_deposit',
 'cleaning_fee',
 'extra_people',
 'guests_included']

In [23]:
object_data_cols = [i for i in airbnb_1.columns if airbnb_1[i].dtypes == "object"]
object_data_cols

['listing_url',
 'name',
 'summary',
 'space',
 'description',
 'property_type',
 'room_type',
 'bed_type',
 'cancellation_policy',
 'last_scraped',
 'calendar_last_scraped',
 'amenities',
 'images',
 'host',
 'address',
 'availability',
 'review_scores',
 'reviews']

# **CHECKING FOR OUTLIERS**

In [24]:
airbnb_1.describe()

,_id,minimum_nights,maximum_nights,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,security_deposit,cleaning_fee,extra_people,guests_included
count,3.777000e+03,3777.000000,3.777000e+03,3777.000000,3777.000000,3777.000000,3777.000000,3777.000000,3777.000000,3777.000000,3777.000000,3777.000000,3777.000000
mean,1.589972e+07,5.441356,1.464693e+06,3.691289,1.444003,2.155944,34.401642,1.279322,267.077575,403.967964,89.819698,24.550702,1.900450
std,9.630701e+06,24.940158,5.333037e+07,2.320919,0.992878,1.623218,53.642358,0.679278,898.730477,1289.814208,98.675087,63.445477,1.593532
min,1.170800e+04,1.000000,1.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000,0.000000,0.000000,1.000000
25%,7.281373e+06,1.000000,4.500000e+01,2.000000,1.000000,1.000000,1.000000,1.000000,70.000000,95.000000,30.000000,0.000000,1.000000
50%,1.616426e+07,2.000000,1.125000e+03,3.000000,1.000000,2.000000,11.000000,1.000000,129.000000,200.000000,60.000000,0.000000,1.000000
75%,2.366296e+07,3.000000,1.125000e+03,4.000000,2.000000,3.000000,45.000000,1.000000,264.000000,300.000000,105.000000,25.000000,2.000000
max,3.295874e+07,1250.000000,2.147484e+09,16.000000,10.000000,18.000000,533.000000,9.000000,48842.000000,39228.000000,1200.000000,1000.000000,16.000000

In [25]:
Q1 = airbnb_1['minimum_nights'].quantile(0.25)
Q3 = airbnb_1['minimum_nights'].quantile(0.75)
IQR = Q3-Q1
print(IQR)
lower_bound = Q1 - (1.5*IQR)
upper_bound = Q3 + (1.5*IQR)
print(lower_bound,upper_bound)

2.0
-2.0 6.0

In [26]:
#column 'minimum_nights' has outlier so clipping the outliers
airbnb_1['minimum_nights'] = airbnb_1['minimum_nights'].clip(upper_bound,lower_bound)

<ipython-input-26-b63a93aa6768>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb_1['minimum_nights'] = airbnb_1['minimum_nights'].clip(upper_bound,lower_bound)

In [27]:
Q1 = airbnb_1['maximum_nights'].quantile(0.25)
Q3 = airbnb_1['maximum_nights'].quantile(0.75)
IQR = Q3-Q1
print(IQR)
lower_bound = Q1 - (1.5*IQR)
upper_bound = Q3 + (1.5*IQR)
print(lower_bound,upper_bound)

1080.0
-1575.0 2745.0

In [28]:
#no ouliers in the column 'maximum_nights'

In [29]:
Q1 = airbnb_1['accommodates'].quantile(0.25)
Q3 = airbnb_1['accommodates'].quantile(0.75)
IQR = Q3-Q1
print(IQR)
lower_bound = Q1 - (1.5*IQR)
upper_bound = Q3 + (1.5*IQR)
print(lower_bound,upper_bound)

2.0
-1.0 7.0

In [30]:
#column 'accomadates' has outlier we have to clip
airbnb_1['accommodates'] = airbnb_1['accommodates'].clip(upper_bound,lower_bound)

<ipython-input-30-b6540b9cb52a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb_1['accommodates'] = airbnb_1['accommodates'].clip(upper_bound,lower_bound)

In [31]:
Q1 = airbnb_1['bedrooms'].quantile(0.25)
Q3 = airbnb_1['bedrooms'].quantile(0.75)
IQR = Q3-Q1
print(IQR)
lower_bound = Q1 - (1.5*IQR)
upper_bound = Q3 + (1.5*IQR)
print(lower_bound,upper_bound)

1.0
-0.5 3.5

In [32]:
#column 'bedrooms'has outlier we have to clip it
airbnb_1['bedrooms'] = airbnb_1['bedrooms'].clip(upper_bound,lower_bound)

<ipython-input-32-dcab3e004ac7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb_1['bedrooms'] = airbnb_1['bedrooms'].clip(upper_bound,lower_bound)

In [33]:
Q1 = airbnb_1['beds'].quantile(0.25)
Q3 = airbnb_1['beds'].quantile(0.75)
IQR = Q3-Q1
print(IQR)
lower_bound = Q1 - (1.5*IQR)
upper_bound = Q3 + (1.5*IQR)
print(lower_bound,upper_bound)

2.0
-2.0 6.0

In [34]:
#column 'beds' has outlier we have to clip it
airbnb_1['beds'] = airbnb_1['beds'].clip(upper_bound,lower_bound)

<ipython-input-34-d1d5a9f476b4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb_1['beds'] = airbnb_1['beds'].clip(upper_bound,lower_bound)

In [35]:
Q1 = airbnb_1['number_of_reviews'].quantile(0.25)
Q3 = airbnb_1['number_of_reviews'].quantile(0.75)
IQR = Q3-Q1
print(IQR)
lower_bound = Q1 - (1.5*IQR)
upper_bound = Q3 + (1.5*IQR)
print(lower_bound,upper_bound)

44.0
-65.0 111.0

In [36]:
#column "number_of_reviews" has outliers we have to clip
airbnb_1['number_of_reviews'] = airbnb_1['number_of_reviews'].clip(upper_bound,lower_bound)

<ipython-input-36-5998030a9474>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb_1['number_of_reviews'] = airbnb_1['number_of_reviews'].clip(upper_bound,lower_bound)

In [37]:
Q1 = airbnb_1['bathrooms'].quantile(0.25)
Q3 = airbnb_1['bathrooms'].quantile(0.75)
IQR = Q3-Q1
print(IQR)
lower_bound = Q1 - (1.5*IQR)
upper_bound = Q3 + (1.5*IQR)
print(lower_bound,upper_bound)

0.0
1.0 1.0

In [38]:
#column "bathrooms" has outliers we have to clip
airbnb_1['bathrooms'] = airbnb_1['bathrooms'].clip(upper_bound,lower_bound)

<ipython-input-38-929b2f4bbb42>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb_1['bathrooms'] = airbnb_1['bathrooms'].clip(upper_bound,lower_bound)

In [39]:
Q1 = airbnb_1['price'].quantile(0.25)
Q3 = airbnb_1['price'].quantile(0.75)
IQR = Q3-Q1
print(IQR)
lower_bound = Q1 - (1.5*IQR)
upper_bound = Q3 + (1.5*IQR)
print(lower_bound,upper_bound)

194.0
-221.0 555.0

In [40]:
#column "price" has outliers we have to clip
airbnb_1['price'] = airbnb_1['price'].clip(upper_bound,lower_bound)

<ipython-input-40-bf8562e24090>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb_1['price'] = airbnb_1['price'].clip(upper_bound,lower_bound)

In [41]:
Q1 = airbnb_1['security_deposit'].quantile(0.25)
Q3 = airbnb_1['security_deposit'].quantile(0.75)
IQR = Q3-Q1
print(IQR)
lower_bound = Q1 - (1.5*IQR)
upper_bound = Q3 + (1.5*IQR)
print(lower_bound,upper_bound)

205.0
-212.5 607.5

In [42]:
#column "security_deposit" has outliers we have to clip
airbnb_1['security_deposit'] = airbnb_1['security_deposit'].clip(upper_bound,lower_bound)

<ipython-input-42-325e4278bb32>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb_1['security_deposit'] = airbnb_1['security_deposit'].clip(upper_bound,lower_bound)

In [43]:
Q1 = airbnb_1['cleaning_fee'].quantile(0.25)
Q3 = airbnb_1['cleaning_fee'].quantile(0.75)
IQR = Q3-Q1
print(IQR)
lower_bound = Q1 - (1.5*IQR)
upper_bound = Q3 + (1.5*IQR)
print(lower_bound,upper_bound)

75.0
-82.5 217.5

In [44]:
#column "cleaning_fee" has outliers we have to clip
airbnb_1['cleaning_fee'] = airbnb_1['cleaning_fee'].clip(upper_bound,lower_bound)

<ipython-input-44-52a4bf060445>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb_1['cleaning_fee'] = airbnb_1['cleaning_fee'].clip(upper_bound,lower_bound)

In [45]:
Q1 = airbnb_1['extra_people'].quantile(0.25)
Q3 = airbnb_1['extra_people'].quantile(0.75)
IQR = Q3-Q1
print(IQR)
lower_bound = Q1 - (1.5*IQR)
upper_bound = Q3 + (1.5*IQR)
print(lower_bound,upper_bound)

25.0
-37.5 62.5

In [46]:
#column "extra_people" has outliers we have to clip
airbnb_1['extra_people'] = airbnb_1['extra_people'].clip(upper_bound,lower_bound)

<ipython-input-46-1784fe84ab5f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb_1['extra_people'] = airbnb_1['extra_people'].clip(upper_bound,lower_bound)

In [47]:
Q1 = airbnb_1['guests_included'].quantile(0.25)
Q3 = airbnb_1['guests_included'].quantile(0.75)
IQR = Q3-Q1
print(IQR)
lower_bound = Q1 - (1.5*IQR)
upper_bound = Q3 + (1.5*IQR)
print(lower_bound,upper_bound)

1.0
-0.5 3.5

In [48]:
#column "guests_included" has outliers we have to clip
airbnb_1['guests_included'] = airbnb_1['guests_included'].clip(upper_bound,lower_bound)

<ipython-input-48-578d96a4729a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb_1['guests_included'] = airbnb_1['guests_included'].clip(upper_bound,lower_bound)

In [49]:
airbnb_1.describe()

,_id,minimum_nights,maximum_nights,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,security_deposit,cleaning_fee,extra_people,guests_included
count,3.777000e+03,3777.000000,3.777000e+03,3777.000000,3777.000000,3777.000000,3777.000000,3777.0,3777.000000,3777.000000,3777.000000,3777.000000,3777.000000
mean,1.589972e+07,2.622981,1.464693e+06,3.499868,1.403892,2.094519,29.021710,1.0,195.212073,228.437252,79.432486,15.585518,1.661371
std,9.630701e+06,1.641065,5.333037e+07,1.795434,0.863056,1.371360,36.452395,0.0,166.857852,196.445375,63.928993,20.990826,0.907375
min,1.170800e+04,1.000000,1.000000e+00,1.000000,0.000000,0.000000,0.000000,1.0,10.000000,0.000000,0.000000,0.000000,1.000000
25%,7.281373e+06,1.000000,4.500000e+01,2.000000,1.000000,1.000000,1.000000,1.0,70.000000,95.000000,30.000000,0.000000,1.000000
50%,1.616426e+07,2.000000,1.125000e+03,3.000000,1.000000,2.000000,11.000000,1.0,129.000000,200.000000,60.000000,0.000000,1.000000
75%,2.366296e+07,3.000000,1.125000e+03,4.000000,2.000000,3.000000,45.000000,1.0,264.000000,300.000000,105.000000,25.000000,2.000000
max,3.295874e+07,6.000000,2.147484e+09,7.000000,3.500000,6.000000,111.000000,1.0,555.000000,607.500000,217.500000,62.500000,3.500000

**CHECKING FOR DUPLICATES**

In [50]:
airbnb_1.duplicated().sum()#no duplicates

0

In [51]:
airbnb_1.shape

(3777, 31)

In [52]:
airbnb_cleaned = pd.DataFrame(airbnb_1)

In [53]:
airbnb_cleaned.to_csv("airbnb_cleaned.csv")

In [54]:
airbnb_cleaned.shape

(3777, 31)

# **POWERBI DASHBOARD**

* As the no of amenities increases the price also increases
* In property type APARTMENT has more price
* In room type ENTIRE ROOM has more price
* MARCH month has more price comparitively to other months
* As the Ratings increased Price also increases
* As the Availability decreases Price also decreases